EDP_Project/Connected Services/ServiceReference1/DBService.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DBService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Business" nillable="true" type="tns:Business" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusiness" nillable="true" type="tns:ArrayOfBusiness" />
  <xs:complexType name="Business">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcraCertificate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Business" nillable="true" type="tns:Business" />
  <xs:complexType name="ArrayOfBusinessEmployeeAccess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessEmployeeAccess" nillable="true" type="tns:BusinessEmployeeAccess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessEmployeeAccess" nillable="true" type="tns:ArrayOfBusinessEmployeeAccess" />
  <xs:complexType name="BusinessEmployeeAccess">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Business" nillable="true" type="tns:Business" />
      <xs:element minOccurs="0" name="BusinessId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadAppointment" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReadCustomerChat" type="xs:boolean" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WriteAppointment" type="xs:boolean" />
      <xs:element minOccurs="0" name="WriteCustomerChat" type="xs:boolean" />
      <xs:element minOccurs="0" name="employee" nillable="true" type="tns:BusinessUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessEmployeeAccess" nillable="true" type="tns:BusinessEmployeeAccess" />
  <xs:complexType name="BusinessUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessUser" nillable="true" type="tns:BusinessUser" />
  <xs:complexType name="CustomerClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="blackListed" type="xs:boolean" />
      <xs:element minOccurs="0" name="delete" type="xs:boolean" />
      <xs:element minOccurs="0" name="deleteDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="emailVerified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerClass" nillable="true" type="tns:CustomerClass" />
  <xs:complexType name="ArrayOfCustomerClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerClass" nillable="true" type="tns:CustomerClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerClass" nillable="true" type="tns:ArrayOfCustomerClass" />
  <xs:complexType name="Branch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Branch" nillable="true" type="tns:Branch" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" type="ser:guid" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="ser:guid" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEdited" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumReport" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ArrayOfAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" nillable="true" type="tns:Appointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment" nillable="true" type="tns:ArrayOfAppointment" />
  <xs:complexType name="Appointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="appointmentSettingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aptDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aptDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aptTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="partySize" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="tns:Appointment" />
  <xs:complexType name="BusinessRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmployeeCount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessRole" nillable="true" type="tns:BusinessRole" />
  <xs:complexType name="ArrayOfBusinessRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessRole" nillable="true" type="tns:BusinessRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessRole" nillable="true" type="tns:ArrayOfBusinessRole" />
  <xs:complexType name="AdminClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminClass" nillable="true" type="tns:AdminClass" />
  <xs:complexType name="BlackListClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlackListClass" nillable="true" type="tns:BlackListClass" />
  <xs:complexType name="ArrayOfBlackListClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlackListClass" nillable="true" type="tns:BlackListClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlackListClass" nillable="true" type="tns:ArrayOfBlackListClass" />
</xs:schema>